<!-- Search Wrapper -->
<div class="search-wrapper" *ngIf="router.url !== '/login' && router.url !=='/register'">
  <!-- Close Btn -->
  <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="#" method="post">
          <input type="search" name="search" placeholder="Type any keywords...">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area" *ngIf="router.url !== '/login' && router.url !=='/register'">

  <!-- Top Header Area -->
  <div class="top-header-area">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-between">

        <!-- Top Social Info -->
        <div class="col-12 col-sm-6">
          <div class="top-social-info text-right">
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar Area -->
  <div class="delicious-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="deliciousNav">

          <!-- Logo -->
          <a class="nav-brand" routerLink="home"><img src="img/core-img/logo.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- close btn -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li class="active"><a routerLink="home">Acceuil</a></li>
                <li><a routerLink="list-recipe">Recettes</a></li>
              </ul>

              <!-- Newsletter Form -->
              <div class="search-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>

              <!-- Connection and Sign Up Buttons -->
              <div class="auth-buttons">
                <button class="btn btn-primary" routerLink="login">Se connecter</button>
                <button class="btn btn-secondary" routerLink="register">S'inscrire</button>
              </div>

            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->
<router-outlet></router-outlet>
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area" *ngIf="router.url !== '/login' && router.url !=='/register'">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
        <!-- Footer Social Info -->
        <div class="footer-social-info text-right">
          <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
        <!-- Footer Logo -->
        <div class="footer-logo">
          <a routerLink="home"><img src="img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Copywrite -->
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script>Tous droits reservés<i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">kojkyo</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>
<!-- ##### Footer Area Start ##### -->
